CONFIG_NO_HZ=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_LOG_BUF_SHIFT=14
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_OS_WINDOWS=y
# CONFIG_MCONSOLE is not set
CONFIG_MAGIC_SYSRQ=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_BLK_DEV_UBD=y
CONFIG_EXT4_FS=y
CONFIG_EARLY_PRINTK=y
